# Segmenting and Clustering Neighborhoods in Toronto

### Part 1

Scrapping data from Wikipedia page using BeautifulSoup library and arranging as required.

In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [5]:
source

In [6]:
soup = BeautifulSoup(source.content, 'html.parser')

In [7]:
count = 0
list_row_element = []
concatenate_rows = soup.select('tbody')[0]

In [8]:
for link in concatenate_rows.find_all('td'):
    count+=1
    list_row_element.append(link.get_text().replace("\n",""))

In [9]:
Postcode = list_row_element[::3]
Borough = list_row_element[1::3]
Neighbourhood = list_row_element[2::3]

In [10]:
data_set = pd.DataFrame({'Postcode':Postcode, 'Borough': Borough, 'Neighbourhood': Neighbourhood})
data_set.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [13]:
df_borough = data_set[data_set['Borough'] !='Not assigned']
df_borough.head(15)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
14      M3B        North York   Don Mills North
15      M4B         East York  Woodbine Gardens
16      M4B         East York     Parkview Hill
17      M5B  Downtown Toronto           Ryerson
18      M5B  Downtown Toronto   Garden District

In [14]:
for _, row in df_borough.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

In [15]:
data = df_borough.copy()
data.shape

(212, 3)

In [16]:
data.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [17]:
data_final = data.groupby(('Postcode','Borough'))['Neighbourhood'].apply(lambda x: ", ".join(x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

In [19]:
data_final = pd.DataFrame(data_final)
data_final.head(10)

                                                        Neighbourhood
Postcode Borough
M1B      Scarborough                                   Rouge, Malvern
M1C      Scarborough           Highland Creek, Rouge Hill, Port Union
M1E      Scarborough                Guildwood, Morningside, West Hill
M1G      Scarborough                                           Woburn
M1H      Scarborough                                        Cedarbrae
M1J      Scarborough                              Scarborough Village
M1K      Scarborough      East Birchmount Park, Ionview, Kennedy Park
M1L      Scarborough                  Clairlea, Golden Mile, Oakridge
M1M      Scarborough  Cliffcrest, Cliffside, Scarborough Village West
M1N      Scarborough                      Birch Cliff, Cliffside West

In [20]:
data_final.reset_index(level=None, inplace=True)

In [22]:
data_final.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [23]:
data_final.shape

(103, 3)

In [25]:
data_final.to_csv('DataSet_1.csv')